{% extends "layout.html" %}

{% block title %}
Lista de clientes v2
{% endblock %}

{% block content %}

<h1 class="mt-5">Lista de Clientes</h4>

<table class="table table-dark mt-3">

  <thead>

    <tr>

      <th scope="col">#</th>

      <th scope="col">Nombre</th>

      <th scope="col">Ciudad</th>

    </tr>

  </thead>

  <tbody>

    {% for item in clientes %}
    <tr>
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.nombre }}</td>
      <td>{{ item.ciudad }}</td>
    </tr>
    {% endfor %}

  </tbody>

</table>

<h4 class="my-4">Agregar una cliente</h4>
  <form action="/clientes" method="post">
    <!--Esto es un elemento del api cliente-->
    <div class="mb-3">
      <label for="ciudad" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="ciudad" name="ciudad" required>
    </div>

    <div class="mb-3">
      <label for="cantidad" class="form-label">cantidad de producto</label>
      <input type="number" class="form-control" id="cantidad" name="cantidad" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>

{% endblock %}